<div class="container">
	<div class="form">
		<form [formGroup]='form'>
			<div class="label">
				<label for="phoneNo">Phone Number</label>
			</div>
			<div class="input">
				<input type="text" formControlName='phoneNo'>
			</div>
			<div class="label">
				<label for="email">Email</label>
			</div>
			<div class="input">
				<input type="text" formControlName='email'>
			</div>
			<div class="label">
				<label for="password">Password</label>
			</div>
			<div class="input">
				<input type="password" name="password" id="password" formControlName='password'>
			</div>
			<div class="label">
				<label for="confirmPassword">Confirm Password</label>
			</div>
			<div class="input">
				<input type="password" name="confirmPassword" id="confirmPassword" formControlName='confirmPassword'>
			</div>
		</form>
	</div>
</div>
<div class="data">
	<code>
		{{ form.value | json }}
	</code>
</div>
